%p
  = f.label :person_id
  = f.text_field :person_id, :class => 'remote_select', :metadata => { :get => linein_url( :people_path }.to_json
%p
  = f.hidden_field :account_id

- content_for :dom_ready do
  = render :partial => 'form_script', :locals => { :f => f }
