.menu
  = link_to "Accounts", accounts_path
  = link_to "add", new_account_path, :class => 'add button'
  = link_to "Line Items", line_items_path
  = link_to "add", new_line_item_path, :class => 'add button'
