.ui-block.span-12
  %h6.info Edit Account
  - form_for @account do |f|
    = render :partial => 'form', :locals => { :f => f }
    %p.submit
      = f.submit "Update Account"
  - form_for @account.account_people.build, {}, :html => { :id => 'new_linked_person' }do |f|
    = f.hidden_field :person_id
    = f.hidden_field :account_id
  



